$rubin-gray: #87867F;
$rubin-slate: #1F1E1D;
$rubin-dark-gray: #5E5D59;
$rubin-ivory-med: #F0EEE6;
$rubin-ivory-dark: #E8E6DC;
$rubin-ivory: rgb(250, 249, 246);
$rubin-riso: #5E7EDF;
$rubin-cyan: #44A6E4;
$rubin-clay: #D97757;
$rubin-beige: #E8E6DC;
