.superpopulation-widget {
  &__card {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10rem;
    margin-top: 10rem;
    min-width: 300px;
    height: 400px; // Fixed height for the card
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.2s ease;
    opacity: 0;
    pointer-events: none;
    transform: translate(0, 0);

    &.show {
      opacity: 1;
      pointer-events: auto;
    }

    .card-body {
      height: calc(100% - 60px);
      padding: 0;
      overflow: hidden;

      .superpopulation-widget__list-container {
        height: 100%;
        overflow-y: auto;

        font-family: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, monospace;
        font-variant-numeric: tabular-nums slashed-zero;
      }
    }
  }

  &__population-selector {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 2px solid transparent;

    &:hover {
      transform: scale(1.5);
    }
  }

  &__population-name {
    font-weight: 500;
    font-size: 1rem;
    color: #212529;
  }
}
